@model List<ContatoModel>
<div>
    <a class="btn btn-primary" asp-controller="Contatos" asp-action="Cadastrar">Novo</a>
    </br>
   <label id="msgErro"></label>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Codigo</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
         @foreach (ContatoModel item in Model){
            <tr>
                <td>
                    <a role="button" class="btn btn-success" asp-controller="Enderecos" asp-action="ListarPorPessoa" asp-route-id="@item.id">Endereços</a>
                    <a role="button" class="btn btn-success" asp-controller="Contatos" asp-action="Listar" asp-route-id="@item.id">Editar</a>
                    <a role="button" class="btn btnExcluir btn-danger" href="/Contatos/Excluir/@item.id">Excluir</a>
                </td>
                <td>@item.id</td>
                <td>@item.nome</td>
                <td>@item.telefone</td>
                <td>@item.email</td>
            </tr>
         }
      </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnExcluir").click(function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.ajax({
                url: url,
                type: "DELETE",
                success: function (data) {
                    window.location.href = "/Contatos";
                },
                error: function (data) {
                    $("#msgErro").text("Erro ao excluir o contato!");
                    
                }
            });
          
        });
    });

</script>


